@charset "UTF-8";

#intro{
	padding: 50px 0;
}

.btn-light{
	font-family: futura;
	font-size: 8px;
}


.navbar{
	position: sticky;
	top: 0px;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----Search box----*/

.search-box{
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
}
.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
	background:transparent;
	border-radius: 0px;
	
}
.search-box:hover > .search-btn{
    background:hsla(191,81%,89%,1.00);
	border-radius: 0px;
}
.search-btn{
	top: 200%;
	color:hsla(356,44%,6%,1.00);
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 0%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	
}



.row1{
	padding: 20px;
	background-color:hsla(359,68%,71%,1.00);
}

.what {
	padding-top: 150px;
}

.row2{
	background-color:hsla(182,76%,85%,1.00);
	padding-top: 10px;
}


#discover {
	padding: 80px 0;
}

.body {
	background-image: url("BG.jpg");
	font-family: Futura;
}

.text{
	font-family: futura;
	font-size: 15px;
}

.col-md6 footer-box magic{
	padding-top: 10px;
}
.textin {
	font-family: futura;
	font-size: 13px;
}


.mx-auto{
	text-align: center;
	font-size: 12px;
	color: aliceblue;
}

/*-------destination----*/

.col-md-3{
	box-shadow:black;
	transition:0.5s;
}

.col-md-3:hover{
	transform:scale(1.1);
	 z-index:2;
	
}

/*-----What to do Picture------*/

.gallery-container h1 {
    text-align: center;
    margin-top: 10px;
}

.tz-gallery .lightbox img {
    width: 85%;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

/*----search button----*/

.navbar-nav ul li a.fa-search {
font-size: 20px;
	padding-left: 20px;
	
}
.navbar-nav ul li a.nav-item.hide-item{
	transform: scale(0);
	
}

.nav-items{
	padding-left: 10px;
}

.search-form {
	top: 3;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 44px;
	opacity: 1;
	transition: 0.5s;
}

.search-form input{
	width: 100%;
	height: 44px;
	background:hsla(0,13%,89%,1.00);
	color:hsla(0,0%,0%,1.00);
	border: none;
	outline: none;
	font-size: 16px;
	
}


/*------footers----*/

#footer {
	background-color:hsla(0,0%,0%,1.00);
}

.footer-box.form-control{
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	
}

.magic {
	color: hsla(340,33%,98%,1.00);
}


.magic form input[type=submit] {
	background:hsla(0,2%,59%,1.00);
	border: round medium;
	padding: 13 15;
		
}
.footer-box .btn-primary{
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-color:hsla(0,1%,40%,1.00);
}

.row{
	padding-top: 50px;
}

.social-class{
	transition:0,5s;
	padding-bottom: 10px;
	padding-right: 20px;
}

.social-class a:hover {
	transform: translateY(-10px);
}

